<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ePlQjifGzLVBwH9Il3LqAhsHfX14cXOd"></script>
	<link rel="stylesheet" media="screen" href="css/layout.css"/>
	<link rel="stylesheet" media="screen" href="css/style.css"/>
 
  <title>覆盖分析</title>
</head>
<body>
  <!-- 公共头部 -->
<div id="head" class='hot_map'></div>
<!-- 左侧菜单栏设置 -->
<div id="leftMenu">
    <b style= 'font-size: 30px;'>台站筛选选项</b><br>

    <div style= 'font-size: 20px;'><b>台站类型</b></div>
    <select id='corporation' style="width:120px;height:35px;vertical-align:middle">
      <option value="中国移动">中国移动</option>
      <option value="中国联通">中国联通</option>
      <option value="中国电信">中国电信</option>
    </select>
    <select id='system' style="width:120px;height:35px;vertical-align:middle">
      <option value="LTE">LTE</option>
      <option value="WCDMA">WCDMA</option>
      <option value="GSM">GSM</option>
    </select><br>
    <input id="hotMap" type="submit"  value="确定" style="width:60px;height:35px;vertical-align:middle" /><br>
</div>

<div id="allmap"></div>

<!-- 信息弹框设置 -->
<div id="tabMessage" >
	<div id='shut'></div>
	<b>台站信息展示</b>
	<div id="tab"> 
    <!-- 选项卡 -->
		  <h3 class="active">台站信息</h3>
      <h3>热力图</h3>
      <h3>其他</h3>

      <div name="tag" class="content">台站信息</div>
      <div  name="tag" id='echarts'>
        <p>热力图</p>
        <!-- echarts绘图 -->
        <!-- <div id='echarts' style='width:550px;height:400px;'></div> -->
      </div>
      <div name="tag">其他</div>  
  </div>
</div>
<!-- 公共尾部 -->
<div id="end"></div>
<script>
/*地图显示设置*/
  var map = new BMap.Map("allmap",{enableMapClick:false});
  var point = new BMap.Point(106.76355,26.634111);
  map.centerAndZoom(point, 15);
  map.enableScrollWheelZoom(true);
  var top_right_navigation = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_SMALL}); //右上角，添加默认缩放平移控件     
  map.addControl(top_right_navigation); 
  var top_right_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_RIGHT });// 左下角，添加比例尺
  map.addControl(top_right_control); 
  var oldTangle;
  var oldColor;
	
</script>
<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/addLoadEvent.js"></script>
<script type="text/javascript" src="scripts/tabMessage.js"></script>
<script type="text/javascript" src="scripts/getdata.js"></script>
<script type="text/javascript" src="scripts/drawPoints.js"></script>
<script type="text/javascript" src="scripts/hotMap.js"></script>
<!-- <script type="text/javascript" src="scripts/hotMap_2.js"></script> -->
<script type="text/javascript" src="scripts/attachEvent_6.js"></script>
</body>
</html>
