<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" media="screen" href="css/style.css"/>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ePlQjifGzLVBwH9Il3LqAhsHfX14cXOd"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/DistanceTool/1.2/src/DistanceTool_min.js"></script>
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/echarts.min.js"></script>
    <script type="text/javascript" src="scripts/vue.js"></script>
    <title>栅格业务量展示</title>
</head>
<body >
  <!-- 公共头部 -->
<div id="header" class="map_rectangle">
  <page-head></page-head>
</div>
<div id="pageBody">
    <!-- 加载时覆盖 -->
    <div id="loading" class="loading">Loading pages...</div>
    <!-- 左侧菜单栏设置 -->
    <div id="leftMenu">
        <h2>台站筛选选项</h2>
        <div id="form">
          <p>
            <label>台站类型</label>
            <select id='corporation' >
              <option value="中国移动">中国移动</option>
              <option value="中国联通">中国联通</option>
              <option value="中国电信">中国电信</option>
            </select>
            <select id='system' >
              <option value="LTE">LTE</option>
              <option value="CDMA-2000">CDMA-2000</option>
              <option value="TD-SCDMA">TD-SCDMA</option>
              <option value="WCDMA">WCDMA</option>
              <option value="GSM">GSM</option>
            </select>
          </p>
          <p>
          <label>业务类型</label>
          <select id='service' >
            <option value="all">全部</option>
            <option value="voice">语音</option>
            <option value="note">短信</option>
            <option value="dataTraffic">分组域数据</option>
          </select>
          </p>
          <p>
          <label>开始时间</label>
          <input type="date"  id="dl" placeholder="2016/07/19"/>
          <input type="time"  id="tl" placeholder="00:00"/>
          </p>
          <p>
          <label>结束时间</label>
          <input type="date"  id="dh" placeholder="2016/07/19"/>
          <input type="time"  id="th" placeholder="05:00"/><br>
          </p>
          <p>
          <label>网格边长</label>
          <input type="number" id="sideLength" min="1" max="10"  value="1"/>Km
          </p>
          <p>
          <label>各方格求平均</label>
          <input type="checkbox" id='average'/>
          </p>
          <input id="submit" type="submit"  value="确定"  />
        </div>
    </div>
    <div id="rightContent">
      <div id="allmap"></div>
      <!-- 信息弹框设置 -->
      <div id="tabMessage" >

          <div id='shut'></div>
          <h2>台站信息展示</h2>
          <div id="tab"> 
            <!-- 选项卡 -->
              <h3 class="active">台站信息</h3>
              <h3>统计信息</h3>
              <h3>其他</h3>

              <div id="searchMessage" name="tag" class="content">台站信息</div>
              <!-- <component :is='showType' :number='points.length' :point='point'></component> -->
              <div id='echarts' name="tag" class="content">统计信息</div>
              <div id='others' name="tag" class="content">其他</div>  
          </div>

      </div>
    </div>
</div>
<!-- 公共尾部 -->
<div id="footer">
    <page-foot></page-foot>
</div>
<script type="text/javascript" src="scripts/vuePages.js"></script>
<script type="text/javascript" src="scripts/time.js"></script>
<script type="text/javascript" src="scripts/addLoadEvent.js"></script>
<script type="text/javascript" src="scripts/tabMessage.js"></script>
<script type="text/javascript" src="scripts/getdata.js"></script>
<script type="text/javascript" src="scripts/drawPoints.js"></script>
<script type="text/javascript" src="scripts/mapTangle.js"></script>
<script type="text/javascript" src="scripts/attachEvent_3.js"></script>
</body>
</html>
