

html, body {
	height: 100%;
}
section, .container{
	top: 510px;
	width: 250px;
	height: 150px;
}

section {
	padding: 1em;
	text-align: center;
	position: relative;
	margin: 15px 0;
	height: calc(100% - 80px);
	overflow: hidden;
}


/* SVG wrap */
.svg-wrap {
	position: absolute;
	width: 0px;
	height: 0px;
	overflow: hidden;
}
nav a {
	position: absolute;
	top: 50%;
	display: block;
	outline: none;
	text-align: left;
	z-index: 1000;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

nav a.show {
	left: 0;
	display: none;
}

nav a.hide {
	right: 0;
}

nav a svg {
	display: block;
	margin: 0 auto;
	padding: 0;
}

.nav-roundslide a {
	margin: 0 20px;
	padding: 15px;
	width: 62px;
	height: 62px;
	border-radius: 40px;
	background: #34495e;
	-webkit-transition: width 0.3s, background-color 0.3s;
	transition: width 0.3s, background-color 0.3s;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /* Firefox */
	box-sizing: border-box;
}

.nav-roundslide .icon-wrap {
	position: absolute;
	width: 32px;
}

.nav-roundslide a.show .icon-wrap {
	left: 15px;
}

.nav-roundslide a.hide .icon-wrap {
	right: 15px;
}

.nav-roundslide svg.icon {
	fill:#FFFFFF;
	/*fill: #566473;*/
}

.nav-roundslide h3 {
	position: absolute;
	top: 0;
	margin: 0;
	color: #fff;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 0.85em;
	line-height: 4.45;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.nav-roundslide a.show h3 {
	right: 20px;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.nav-roundslide a.hide h3 {
	left: 20px;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.nav-roundslide a:hover {
	width: 200px;
	background: #34495e;
}

.nav-roundslide a:hover h3 {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
