html{
    height:100%;
}
body{
    display:flex;
    flex-direction: column;
    padding:0;
    margin:0;
    height:100%;
}
/*页首样式*/
#header{
    display: flex;
    flex-direction: column;
    flex:0 0 auto;
    color:#FFFFFF;
    padding:0;
/*    height:20%;*/
}
/*页脚样式*/
#footer{
    flex:0 0 auto;
    background: #0b5ea5 none repeat;
    color: #FFFFFF;
    text-align:center;
    width:100%;
    font-size: 12px;
    min-height: 10px;
}
/*整个页面内容*/
#pageBody{
    display:flex;
    flex:1 0 auto;
    position: relative;
    /*height:80%;*/
}
#banner{
    flex:1 0 auto;
    background: #293C55 none repeat;
    margin:0;
    padding:10px;
    height:auto;
    text-align:center;
}
#banner h1{
    text-align:center;
    display:inline-block;
    margin:10px;
    padding:0;
}
#banner p {
    text-align: right;
    display:inline-block;
    float: right;
    margin-top:40px;
    padding:0;
    font-family: arial,​tahoma,​宋体;
}
/*导航栏*/
#nav{
    flex:0;
    margin:0;
    padding: 0;
    height:45px;/*有高度不用另外设置BFC*/
    width: 100%;
    list-style-type: none;
    text-align:center;
    background-color:#D0E9FF;
}

#nav li {
    display:inline-block;
    float:left;
    font-weight: bold;
    margin:0;
    padding:0;
    width:150px;
    height:100%;
}


#nav li:hover{
    background-color: #8ECDFF;
}

#nav li a{
    display:inline-block;
    text-decoration: none;
    text-align: center;
    padding:10px;
    color: #555353;
}

div.map_rectangle li.map_rectangle,
div.resource_rate li.resource_rate,
div.hot_map li.hot_map,
div.network_layout li.network_layout,
div.interference li.interference
{
    background-color: #8ECDFF;
}


/*左侧菜单*/
#leftMenu{
    border-right: 1px solid black;
    background-color: #F7F7F9;
    flex:0 0 340px;
    text-align: center;
    overflow-x:auto;/*横向拉条*/
    overflow-y: auto;/*纵向拉条*/
    white-space:nowrap;/*不换行*/
}

#leftMenu #form{
    margin:20px 0 0 5px;
    text-align:left;
}

#leftMenu #form label{
    display:inline-block;
    width:100px;
    text-align:right;
    margin-right:5px;
    font-family: Microsoft YaHei,Tahoma,Verdana,Arial,Helvetica,sans-serif;
    font-size:14px;
}

#leftMenu #form input:not(#average):not(.shortInput){
    display:inline-block;
    text-align: center;
    width: 100px;
}

#leftMenu #form .shortInput{
    display:inline-block;
    text-align: center;
    width:70px;
}
#leftMenu #form #submit{
    display:block;
    margin-left: 200px;
    width: 60px;
    height:30px;
    border-radius: 5px;
    color:#FFFFFF;
    background-color: #0b5ea5;
}
/*右侧地图+弹出框*/
#rightContent{
    flex:1;
    overflow: hidden;
    position: relative;
}

#allmap{
    width:100%;
    height:100%;
}

#loading {  
    text-align:center;
    display: none;
    width:100%;
    height:100%;  
    line-height:56px; 
    position: absolute; 
    left:0;
    right:0;
    color:#fff;   
    font-size:15px;  
    background: #000 url(../img/loader.gif) no-repeat 50% 50%;  
    opacity: 0.7;  
    z-index:9999;       
} 
/*右侧弹出框*/
#tabMessage {  
    width: 300px;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    padding-left:20px; 
    background-color:#F7F7F9; 
    position:absolute;
    right:0;
    top:0;
    border-top-left-radius: 5px;/*边角样式*/
    border-bottom-left-radius: 5px;
    display: none;
    z-index:9999;
    overflow: hidden;
}
#shut{
    width:45px;
    height:18px;
    float:right;
    margin:5px;
    background:url(../img/close.png) no-repeat 0px 0px;
}
#shut:hover{
    background:url(../img/close.png) no-repeat 0px -25px;
}
#tab{
    /*width: 300px;*/
    margin: 0 auto;
    box-shadow: 5px 5px 5px #888888;
}
#tab h3 {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    float: left;
    right: 5px;                
    width: 80px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}
#tab>div {
    clear: both;
    height: 350px;
    font-size: 14px;
    line-height:40px;
    padding: 20px 0px 0px 20px;  
}
#tab h3.active {
    background: #ECF0F1;
}
#tab .content {
    overflow-x:auto;/*横向拉条*/
    overflow-y: auto;/*纵向拉条*/
    word-break:keep-all;/*不换行*/
    white-space:nowrap;/*不换行*/
    display: none;
    background: #ECF0F1;
}
.echarts {
    width:550px;
    height:400px;
}

td{
    text-align: center;
    height:30px;
    width:50px;
    padding:0 5px;
}
