/*左侧菜单*/
.leftMenu{
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F7F7F9;
    flex:0 0 340px;
    overflow: hidden;
    white-space:nowrap;/*不换行*/
    height: 40px;
    transition: height 0.3s;
    padding: 5px;
}

.leftMenu:hover {
    height: 400px;
}

.selectTitle {
    font-size: 20px;
    font-weight: 800;
    margin: 10px 30px;
}

.leftMenu .form{
    margin:20px 0 0 5px;
    text-align: left;
}

.leftMenu .form label{
    display:inline-block;
    width:100px;
    text-align:right;
    margin-right:5px;
    font-family: Microsoft YaHei,Tahoma,Verdana,Arial,Helvetica,sans-serif;
    font-size:14px;
}

.short-input {
    width: 120px;
}

.form-input {
    float: left;
}

.search-button {
    float: right;
    margin-right: 50px;
}